/* ********** Custom Properties ********** */
:root {
	--first-color: #03A6A6;
	--second-color: #2BD9B9;
}

/* ********** Reset ********** */
body {
	font-family: "Raleway", sans-serif;
}


/* ********** Custom css ********** */
.bg-gradiente {
	background: linear-gradient(to right, #03A6A6, #2BD9B9);
}

.bg-color {
	background-color: var(--first-color);
}
.bg-color-2 {
	background-color:rgba(245, 245, 245, 0.75);
}